<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/card.css">
    <script src="/js/card.js"></script>
</head>
<body>
<div class="card-detail">
    <span>제목 : </span><span th:text="${card.getTitle()}"></span>
    <br/>
    <span>담당자 : </span><span th:text="${card.getResponsiblePerson()}"></span>
    <br/>
    <span>마감일자 : </span><span th:text="${card.getDeadline()}"></span>
    <br/>
    <span>내용 : </span><span th:text="${card.getContent()}"></span>
    <br/>

    <div class="comment-container">
        <input type="text" placeholder="댓글을 입력하세요.">
        <button type="button">등록</button>

        <div class="comment-list">
        </div>
    </div>
</div>
</body>
</html>