<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>comment</title>

  <!-- jquery, ajax -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/js/comment.js"></script>

</head>
<body>
<!-- 댓글 -->
<div id="form-commentInfo">
  <input id="comment" placeholder="댓글을 입력해 주세요.">
  <button id="submit" type="button" onclick="addComment()">등록</button>
  <div class="personID"></div>
</div>


<div id="comment-list">
</div>
<!-- 댓글 끝 -->
</div>
</body>
</html>